.footer {
  background-color: #242526;
  color: #fff;
  text-align: center;
  border-top: 0.8px solid rgb(184, 182, 182);
  padding: 20px 0px;
}

@media (max-width: 575.98px) {
  .footer {
    font-size: 0.9rem;
  }
}
